@use '../abstracts/variables' as *;

.filter {
  padding: 24px;
  margin-bottom: 16px;
  border-radius: 24px;
  background-color: $white;
  box-shadow:
    0px 2px 4px 0px #0000001a,
    0px 1px 10px 0px #00000008,
    0px 4px 5px 0px #00000008;
}

.filter-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;

  &::after {
    content: '';
    position: absolute;
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 11px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='10' viewBox='0 0 15 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.6667 6.87976L7.94668 1.22643C7.82273 1.10146 7.67526 1.00227 7.51278 0.934574C7.3503 0.866883 7.17603 0.832031 7.00001 0.832031C6.824 0.832031 6.64972 0.866883 6.48724 0.934574C6.32476 1.00227 6.1773 1.10146 6.05335 1.22643L0.400013 6.87976C0.275042 7.00371 0.175849 7.15118 0.108157 7.31366C0.0404659 7.47614 0.00561523 7.65041 0.00561523 7.82643C0.00561523 8.00244 0.0404659 8.17672 0.108157 8.3392C0.175849 8.50168 0.275042 8.64915 0.400013 8.7731C0.64983 9.02143 0.987765 9.16082 1.34001 9.16082C1.69226 9.16082 2.0302 9.02143 2.28001 8.7731L7.00001 4.0531L11.72 8.7731C11.9684 9.01942 12.3036 9.15829 12.6533 9.15976C12.8288 9.16078 13.0028 9.12714 13.1652 9.06079C13.3277 8.99444 13.4754 8.89667 13.6 8.7731C13.7294 8.6536 13.8339 8.50965 13.9074 8.34955C13.9809 8.18945 14.0219 8.01638 14.0281 7.84033C14.0343 7.66428 14.0055 7.48875 13.9435 7.32388C13.8815 7.15901 13.7874 7.00806 13.6667 6.87976Z' fill='%230E0E0E'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    transition: all 0.3s ease;
    transform: translateY(-50%) rotate(180deg);
  }

  &.active::after {
    transform: translateY(-50%) rotate(0);
  }

}

.filter-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: $primary-default;
}

.filter-header .arrow {
  font-size: 16px;
  transition: transform 0.3s ease;
}

.filter-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: auto;
  transition: height 0.3s ease;
}

.filter-content-label {
  padding-left: 16px;
  margin: 40px 0 12px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  color: $primary-default;
}

.filter-content-box {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 15px;
  padding: 24px 0;
  border-bottom: 1px solid $light-grey;

  &:last-child {
    padding-bottom: 0;
    border-bottom: 1px solid transparent;
  }

  .tastes & {
    padding: 0;
  }
}

.filter-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.filter-content-title {
  max-width: 144px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $primary-default;
}

.hidden {
  display: none;
}

.control {
  display: block;
  flex: 0 1 50%;
  position: relative;
  padding-left: 28px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;

  .tastes & {
    flex: none;
    padding-left: 0;
    width: 72px;
    height: 72px;
  }

  & img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.control .control-checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: $white;
  border: 1px solid $primary-default;
  border-radius: 4px;

  .tastes & {
    width: 72px;
    height: 72px;
    top: 0;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid transparent;
  }
}

.control input:checked + .control-checkmark {
  background-color: $secondary-default;
  border: 1px solid $secondary-default;

  .tastes & {
    border: 1px solid $primary-default;
  }
}

.control .control-checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.control input:checked + .control-checkmark:after {
  display: block;

  .tastes & {
    display: none;
  }
}

.control .control-checkmark:after {
  content: '';
  top: 3px;
  left: 3px;
  width: 10px;
  height: 8px;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.47346 0.806574C9.41149 0.744088 9.33775 0.694492 9.25651 0.660646C9.17527 0.6268 9.08814 0.609375 9.00013 0.609375C8.91212 0.609375 8.82498 0.6268 8.74374 0.660646C8.66251 0.694492 8.58877 0.744088 8.5268 0.806574L3.56013 5.77991L1.47346 3.68657C1.40911 3.62441 1.33315 3.57554 1.24992 3.54274C1.16668 3.50993 1.0778 3.49385 0.988344 3.49539C0.89889 3.49694 0.810617 3.51609 0.728565 3.55176C0.646513 3.58742 0.572288 3.63889 0.510129 3.70324C0.44797 3.76759 0.399094 3.84355 0.366292 3.92679C0.333489 4.01002 0.317402 4.09891 0.31895 4.18836C0.320497 4.27781 0.339649 4.36609 0.375311 4.44814C0.410974 4.53019 0.462448 4.60441 0.526796 4.66657L3.0868 7.22657C3.14877 7.28906 3.22251 7.33866 3.30375 7.3725C3.38498 7.40635 3.47212 7.42377 3.56013 7.42377C3.64814 7.42377 3.73527 7.40635 3.81651 7.3725C3.89775 7.33866 3.97149 7.28906 4.03346 7.22657L9.47346 1.78657C9.54113 1.72415 9.59514 1.64838 9.63208 1.56404C9.66901 1.47971 9.68808 1.38864 9.68808 1.29657C9.68808 1.20451 9.66901 1.11344 9.63208 1.0291C9.59514 0.94477 9.54113 0.869002 9.47346 0.806574Z' fill='%230E0E0E'/%3E%3C/svg%3E%0A");
}

.control .control-radio {
  position: absolute;
  top: 4px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: $white;
  border: 1px solid #a3a3a3;
  border-radius: 50%;
}

.control input:checked + .control-radio {
  background-color: $secondary-default;
  border-color: $secondary-default;
}

.control .control-radio:after {
  content: '';
  position: absolute;
  display: none;
}

.control input:checked + .control-radio:after {
  display: block;
}

.control .control-radio:after {
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: $primary-default;
}