@use '../abstracts/variables' as *;

.form-group {
  margin-bottom: 24px;

  .form-promo & {
    margin-bottom: 0;
  }
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  padding-left: 16px;
}

.form-control,
.form-select {
  width: 100%;
  height: 48px;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  padding-left: 16px;
  color: $primary-default;
  background-color: $white;
  border: 1px solid $grey;
  border-radius: 8px;

  &.success {
    border: 1px solid $status-success;
    background-color: $status-success-bg;
  }

  &.error {
    border: 1px solid $status-error;
    background-color: $status-error-bg;
  }

  &::placeholder {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: $dark-grey;
  }

  &:focus {
    border: 2px solid $grey;
  }

  &:disabled {
    color: $grey;
    border: 1px solid $light-grey;
    background-color: $white-grey;
  }
}

.form-select-wrapper {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 7px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.9997 1.16872C10.8123 0.982471 10.5589 0.87793 10.2947 0.87793C10.0305 0.87793 9.77707 0.982471 9.5897 1.16872L5.9997 4.70872L2.4597 1.16872C2.27234 0.982471 2.01889 0.87793 1.7547 0.87793C1.49052 0.87793 1.23707 0.982471 1.0497 1.16872C0.955976 1.26169 0.881582 1.37229 0.830813 1.49415C0.780044 1.616 0.753906 1.74671 0.753906 1.87872C0.753906 2.01073 0.780044 2.14144 0.830813 2.2633C0.881582 2.38516 0.955976 2.49576 1.0497 2.58872L5.2897 6.82872C5.38267 6.92245 5.49327 6.99684 5.61513 7.04761C5.73699 7.09838 5.86769 7.12452 5.9997 7.12452C6.13172 7.12452 6.26242 7.09838 6.38428 7.04761C6.50614 6.99684 6.61674 6.92245 6.7097 6.82872L10.9997 2.58872C11.0934 2.49576 11.1678 2.38516 11.2186 2.2633C11.2694 2.14144 11.2955 2.01073 11.2955 1.87872C11.2955 1.74671 11.2694 1.616 11.2186 1.49415C11.1678 1.37229 11.0934 1.26169 10.9997 1.16872Z' fill='%23464646'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    transition: transform 0.2s ease;
  } 

  &.open::after {
    transform: translateY(-50%) rotate(180deg);
  }
}

.form-select {
  position: relative;
  color: $dark-grey;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
}

.form-promo {
  display: flex;
  align-items: end;
  gap: 16px;
  padding: 12px 24px 24px;
  margin-bottom: 24px;
  background-color: $white-grey;
  border-radius: 8px;
}