{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Collect box" %} {% block styles %}
<!-- load specific page style -->
<link href="./style.scss" rel="stylesheet" />
{% endblock %} {% block content %}
<section class="collect-box">
  <div class="container">
    <h1 class="title">Скласти бокс</h1> 
    <div class="collect-box-inner">
      <aside>
        {% include "src/views/components/filter-form.html" %}
      </aside>
      <div class="collect-box-content">
        <div class="collect-box-wrapper">
          <div class="collect-box-images">
            <img src="@images/collect-box-1.jpg" class="collect-box-photo active" alt="">
            <img src="@images/collect-box-2.jpg" class="collect-box-photo" alt="">
            <img src="@images/collect-box-3.jpg" class="collect-box-photo" alt="">
          </div>
          <div class="collect-box-thumbnails">
            <img src="@images/collect-box-1.jpg" class="collect-box-thumbnail active" alt=""">
            <img src="@images/collect-box-2.jpg" class="collect-box-thumbnail" alt=""">
            <img src="@images/collect-box-3.jpg" class="collect-box-thumbnail" alt=""">
          </div>
          <button class="collect-box-fullscreen-btn">
            <img src="@images/icons/button-fullscreen-arrow.svg">
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "src/views/components/fullscreenModal.html" %}
<script src="collect-box.js"></script>
{% endblock %}
