@use '../abstracts/variables' as *;

.taste {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: rgba(249, 249, 249, 1);
  border: 1px solid $primary-default;
  border-radius: 50%;
}