{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Catalog" %} {% block styles %}
<!-- load specific page style -->
<link href="./style.scss" rel="stylesheet" />
{% endblock %} {% block content %}
<section class="catalog">
  <div class="container">
    <h1 class="catalog-title">інтернет магазин “хвилясті”</h1>
    <div class="catalog-inner">
      <aside>{% include "src/views/components/filter-form.html" %}</aside>
      <ul class="catalog-list">
        {% include "src/views/components/product-card.html" %} {% include
        "src/views/components/product-collect-card.html" %} {% include "src/views/components/product-card.html" %} {%
        include "src/views/components/product-card.html" %} {% include "src/views/components/product-card.html" %} {%
        include "src/views/components/product-card.html" %}
      </ul>
    </div>
  </div>
</section>
{% include "src/views/components/modal.html" %}
<script src="catalog.js"></script>
{% endblock %}
