# W3TC- W3 Total Cache
w3tc-config/
cache/
mobile/cache
wp-content/cache
wp-content/advanced-cache.php
wp-content/object-cache.php
wp-content/wp-rocket-config/
wp-content/plugins/wp-rocket/cache.json
wp-content/plugins/query-monitor
wp-content/uploads/
wp-content/uploads/*
# Redirection plugin
wp-content/plugins/v-catena-redirections/admin/data/*
wp-config.php


# visual studio code
.vscode/*

# WebStorm / PhpStorm
.idea/*
.idea

# Env
.htaccess
.gitkeep
nginx.conf
wp-config.php
*.css.map
*.js.map
node_modules

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Logs
logs
*.log
npm-debug.log*

