@use '../abstracts/variables' as *;

// sticky header height normal, no scrolling
$header-max-height: 80px;
// sticky header height by scrolling
$header-min-height: 40px;

.header-container {
  position: sticky;
  top: $header-min-height - $header-max-height;
  min-height: $header-max-height;
  margin-bottom: $gap-lg;
  background-color: $white-grey;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1), 0px 3px 1px 0px rgba(0, 0, 0, 0.03), 0px 2px 2px 0px rgba(0, 0, 0, 0.03);
  z-index: 999;
}

.header-top {
  width: 100%;
  max-width: $content-max-width;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  gap: 2.5em;
}

.header-top-link {
  position: relative;
  width: fit-content;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $primary-default;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  text-decoration: none;

  img,
  svg {
    width: auto;
    height: 20px;
  }

  .header-top-link-text {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $primary-default;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
  }

  &:hover {
    text-decoration: none;

    .header-top-link-text::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.header-bottom {
  position: absolute;
  width: 96%;
  max-width: $content-max-width;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: $white;
  padding: 8px 16px;
  border-radius: 60px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.1), 0px 6px 30px 0px rgba(0, 0, 0, 0.03), 0px 16px 24px 0px rgba(0, 0, 0, 0.03);
}