@use '../abstracts/variables' as *;

.offers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  position: absolute;
  top: 0;
  right: 0;
  width: 54px;
  height: 46px;
  padding-right: 4px;
  font-weight: 400;
  line-height: 6.1px;
  color: $primary-default;
  text-transform: uppercase;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;

  &.sale {
    font-size: 16px;
    line-height: 19.5px;
    background-color: $white;
    box-shadow:
      0px 2px 4px 0px #0000001a,
      0px 1px 10px 0px #00000008,
      0px 4px 5px 0px #00000008;

    & span:not(:only-child):last-child {
      padding-right: 6px;
    }
  }

  &.new {
    background-color: $primary-default;
    color: $secondary-default;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
  }

  &.hit {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 19.5px;
    background-color: $secondary-default;

    & span:first-child {
      padding-right: 6px;
    }
  }

  &.promotion {
    background-color: $secondary-hover;
    font-size: 14px;
    line-height: 17.07px;
  }
}

.offers span {
  display: inline-block;
  transform: rotate(15deg);
}

.offers span:first-child {
  font-weight: 700;
}

.offers span:not(:only-child):last-child {
  letter-spacing: 0.35em;
  font-size: 5px;
  line-height: 6.1px;
}