{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Thank you page" %} {% block styles %}
<!-- load specific page style -->
<link href="./partners.scss" rel="stylesheet" />
{% endblock %} {% block scripts %}
<!-- load specific page script -->
<script src="./partners.js"></script>
{% endblock %} {% block content %}
<section class="partners">
  <div class="title-section">
    <img src="@images/bg-wave.png" class="bg-wave" alt="" />
    <div class="title-section-inner">
      <h1 class="title title-big">Для партнерів</h1>
    </div>
  </div>
  <div class="partners-form-wrapper">
    <form class="partners-form">
      <div class="partners-form-title">Залишити заявку на співпрацю</div>
      <div class="partners-form-body">
        <div class="form-group">
          <label for="fullName" class="form-label">Прізвище*</label>
          <input type="text" id="fullName" class="form-control" required/>
        </div>
        <div class="form-group">
          <label for="name" class="form-label">Ім’я*</label>
          <input type="text" id="name" class="form-control" required/>
        </div>
        <div class="form-group">
          <label for="tel" class="form-label">Телефон*</label>
          <input type="tel" id="tel" class="form-control" required/>
        </div>
        <div class="form-group">
          <label for="email" class="form-label">E-mail*</label>
          <input type="email" id="email" class="form-control" required/>
        </div>
        <div class="form-group">
          <span class="form-label">Коментарій</span>
          <textarea class="form-control form-area"></textarea>
        </div>
      </div>
      <label class="control">
        <input type="checkbox" name="filter2" />
        <span class="control-checkmark"></span>
        Я даю згоду на обробку моїх персональних данних
      </label>
      <button class="button button-solid-secondary">Відправити</button>
    </form>
  </div>
</section>
{% endblock %}
