@use '../abstracts/variables' as *;
@use '../abstracts/breakpoints' as *;

.product-collect-card {
  align-items: center;
  justify-content: center;
  background-color: $secondary-default;
  overflow: hidden;
  height: 400px;

  @media (min-width: $breakpoints-lg) {
    height: auto;
  }
}

.product-collect-card-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-44.39deg);
  opacity: 0.2;
  z-index: 2;
}

.product-collect-card-image img {
  width: 100%;
}

.product-collect-card-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 30px;
  right: 0;
  height: 489px;
  border-radius: 0 0 20px 20px;
  overflow: hidden;

  @media (min-width: $breakpoints-lg) {
    right: 0;
    top: unset;
  }
}
