@use '../../../assets/styles/abstracts/variables' as *;
@use '../../../assets/styles/abstracts/breakpoints' as *;

.delivery {
  padding-bottom: 120px;
}

.delivery-inner {
  display: flex;
  flex-direction: column;
  padding-top: 80px;

  &:nth-child(even) .delivery-content {
    flex-direction: column-reverse;
  }

  &:nth-child(odd) .delivery-content-banner {
    margin-left: -20px;
  }

  &:nth-child(even) .delivery-content-banner {
    margin-right: -30px;
  }

  @media (min-width: $breakpoints-lg) {
    .delivery-content {
      flex-direction: row;
      gap: 32px;
    }

    &:nth-child(even) .delivery-content {
      flex-direction: row;
    }
  }
}

.delivery-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.delivery-title {
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: $primary-default;
  text-align: center;

  @media (min-width: $breakpoints-lg) {
    text-align: left;
  }
}

.delivery-text {
  margin-top: 18px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: $primary-default;
}

.delivery-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;

  @media (min-width: $breakpoints-lg) {
    justify-content: flex-start;
  }
}