<nav class="navigation">
  <a class="navigation-logo" href="index.html">
    <img class="navigation-logo" src="@images/app-logo.svg" />
  </a>
  <div class="navigation-nav">
    <a class="navigation-nav-link" href="about.html">Про нас</a>
    <a class="navigation-nav-link" href="demo.html">Для партнерів</a>
    <a class="navigation-nav-link" href="index.html">Доставка та оплата</a>
    <a class="navigation-nav-link" href="catalog.html">Catalog</a>
    <a class="navigation-nav-link" href="404.html">404</a>
  </div>
  <div class="navigation-action">
    <a href="http://"></a>
    <button class="button button-solid-secondary">
      <img src="@images/icons/shopping-cart-box.svg" alt="" />
      замовити
    </button>
  </div>
</nav>