// Max width of all header, banners, widgets, etc. It can be wider then page section content.
$page-max-width: 1320px;
// Max width of content in page section.
$content-max-width: 960px;

// Notation of spaces for global usage (padding, margin):
// $gap-<size> is inner space (e.g. padding), defaults is $gap
$gap-xl: 30px;
$gap-lg: 20px;
$gap: 10px;
$gap-md: 5px;
$gap-sm: 2px;
$gap-xs: 1px;

// Notation of gutter by row and column:
// $<row|column>-gap-<size> is outer space (e.g. margin), defaults is <row|column>-gap
//
// Space between items in row container.
$row-gap-xl: 30px;
$row-gap-lg: 20px;
$row-gap: 10px;
$row-gap-md: 5px;
$row-gap-sm: 2px;
$row-gap-xs: 1px;
// Space between items in column container.
$column-gap-xl: 30px;
$column-gap-lg: 20px;
$column-gap: 10px;
$column-gap-md: 5px;
$column-gap-sm: 2px;
$column-gap-xs: 1px;
// Colors
$white: #fff;
$white-grey: #f9f9f9;
$light-grey: #e4e4e4;
$grey: #818181;
$dark-grey: #464646;
$primary-default: #0e0e0e;
$primary-hover: #000;
$secondary-default: #ffd504;
$secondary-hover: #f3cb03;
$status-info-bg: #e1f0fe;
$status-error-bg: #ffe1e3;
$status-warning-bg: #fff1d8;
$status-success-bg: #dbffec;
$status-info: #0066cd;
$status-error: #b8020e;
$status-warning: #764d01;
$status-success: #047837;
