<form class="filter-form">
  <div class="filter">
    <div class="filter-header active">
      <span class="filter-title">Фільтр</span>
    </div>
    <div class="filter-content">
      <div class="filter-content-box">
        <label class="control">
          <input type="checkbox" name="filter1" />
          <span class="control-checkmark"></span>
          Грінки “Хвилясті”
        </label>
        <label class="control">
          <input type="checkbox" name="filter2" />
          <span class="control-checkmark"></span>
          Вергоси
        </label>
      </div>
      <div class="filter-content-box">
        <label class="control">
          <input type="radio" name="filter-group" />
          <span class="control-radio"></span>
          В пачках
        </label>
        <label class="control">
          <input type="radio" name="filter-group" />
          <span class="control-radio"></span>
          Насипом
        </label>
      </div>
      <div class="filter-content-box">
        <label class="control switch">
          <input type="checkbox">
          <span class="toggle round"></span>
          MIX смаків
        </label>
      </div>
      <div class="filter-content-count">
        <div class="filter-content-label">Кількість смаків*</div>
        <div class="product-controls-wrapper">
          <button class="button-control disabled">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M12.6665 7.3335H3.33317C3.15636 7.3335 2.98679 7.40373 2.86177 7.52876C2.73674 7.65378 2.6665 7.82335 2.6665 8.00016C2.6665 8.17697 2.73674 8.34654 2.86177 8.47157C2.98679 8.59659 3.15636 8.66683 3.33317 8.66683H12.6665C12.8433 8.66683 13.0129 8.59659 13.1379 8.47157C13.2629 8.34654 13.3332 8.17697 13.3332 8.00016C13.3332 7.82335 13.2629 7.65378 13.1379 7.52876C13.0129 7.40373 12.8433 7.3335 12.6665 7.3335Z"
                fill="#464646" />
            </svg>
          </button>
          <span class="product-number">12</span>
          <button class="button-control">
            <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M13.167 7.33341H9.16699V3.33341C9.16699 3.1566 9.09675 2.98703 8.97173 2.86201C8.84671 2.73699 8.67714 2.66675 8.50033 2.66675C8.32351 2.66675 8.15394 2.73699 8.02892 2.86201C7.9039 2.98703 7.83366 3.1566 7.83366 3.33341V7.33341H3.83366C3.65685 7.33341 3.48728 7.40365 3.36225 7.52868C3.23723 7.6537 3.16699 7.82327 3.16699 8.00008C3.16699 8.17689 3.23723 8.34646 3.36225 8.47149C3.48728 8.59651 3.65685 8.66675 3.83366 8.66675H7.83366V12.6667C7.83366 12.8436 7.9039 13.0131 8.02892 13.1382C8.15394 13.2632 8.32351 13.3334 8.50033 13.3334C8.67714 13.3334 8.84671 13.2632 8.97173 13.1382C9.09675 13.0131 9.16699 12.8436 9.16699 12.6667V8.66675H13.167C13.3438 8.66675 13.5134 8.59651 13.6384 8.47149C13.7634 8.34646 13.8337 8.17689 13.8337 8.00008C13.8337 7.82327 13.7634 7.6537 13.6384 7.52868C13.5134 7.40365 13.3438 7.33341 13.167 7.33341Z"
                fill="#464646" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="filter">
    <div class="filter-header active">
      <span class="filter-title">Смак</span>
    </div>
    <div class="filter-content tastes">
      <div class="filter-content-label">Смаки грінок*</div>
      <div class="filter-content-box">
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/mushrooms-in-sour-cream-sauce.svg" alt="" />
          </label>
          <div class="filter-content-title">Гриби у сметанному соусі</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/wasabi.svg" alt="" />
          </label>
          <div class="filter-content-title">Васабі</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/bacon.svg" alt="" />
          </label>
          <div class="filter-content-title">Бекон</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/garlic.svg" alt="" />
          </label>
          <div class="filter-content-title">Часник</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/paprika.svg" alt="" />
          </label>
          <div class="filter-content-title">Паприка</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/lime-chili.svg" alt="" />
          </label>
          <div class="filter-content-title">Лайм-чилі</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/shrimp-in-cream-sauce.svg" alt="" />
          </label>
          <div class="filter-content-title">Креветка у вершковому соусі</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/cheese.svg" alt="" />
          </label>
          <div class="filter-content-title">Сир</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/salmon.svg" alt="" />
          </label>
          <div class="filter-content-title">Лосось</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/salt.svg" alt="" />
          </label>
          <div class="filter-content-title">Сіль</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/basil-tomato.svg" alt="" />
          </label>
          <div class="filter-content-title">Томат базилік</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/fried-steak.svg" alt="" />
          </label>
          <div class="filter-content-title">Смажений стейк</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/sour-cream-and-hearbs.svg" alt="" />
          </label>
          <div class="filter-content-title">Сметана та зелень</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/horseradish.svg" alt="" />
          </label>
          <div class="filter-content-title">Хрон</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/with-seeds.svg" alt="" />
          </label>
          <div class="filter-content-title">З насінням</div>
        </div>
      </div>
    </div>
    <div class="filter-content tastes">
      <div class="filter-content-label">Смаки вергосів*</div>
      <div class="filter-content-box">
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/with-salt.svg" alt="" />
          </label>
          <div class="filter-content-title">З сіллю</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/onion-cream.png" alt="" />
          </label>
          <div class="filter-content-title">Цибуля-вершки</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/garlic-cream.png" alt="" />
          </label>
          <div class="filter-content-title">Часник-вершки</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/teriyaki-cream.png" alt="" />
          </label>
          <div class="filter-content-title">Теріякі-вершки</div>
        </div>
      </div>
    </div>
  </div>
  <div class="filter sum">
    <span class="filter-title">Загалом</span>
    <button class="button button-sum">
      <span class="composition">Склад продукту</span>
      <span class="value">Маса нетто - 900 г. (≈ 120 грінок)</span>
    </button>
    <button class="button button-solid-secondary">
      Замовити на 200 ₴
    </button>
  </div>
</form>