<form class="filter-form">
  <div class="filter">
    <div class="filter-header active">
      <span class="filter-title">Фільтр</span>
    </div>
    <div class="filter-content">
      <div class="filter-content-box">
        <label class="control">
          <input type="checkbox" name="filter1" />
          <span class="control-checkmark"></span>
          Грінки “Хвилясті”
        </label>
        <label class="control">
          <input type="checkbox" name="filter2" />
          <span class="control-checkmark"></span>
          Вергоси
        </label>
      </div>
      <div class="filter-content-box">
        <label class="control">
          <input type="radio" name="filter-group" />
          <span class="control-radio"></span>
          В пачках
        </label>
        <label class="control">
          <input type="radio" name="filter-group" />
          <span class="control-radio"></span>
          Насипом
        </label>
      </div>
      <div class="filter-content-box">
        <label class="control switch">
          <input type="checkbox">
          <span class="toggle round"></span>
          MIX смаків
        </label>
      </div>
      <div class="filter-content-count">
        <div class="filter-content-label">Кількість смаків*</div>
        <div class="product-controls-wrapper">
          <button class="button-control disabled">
            <img src="@images/icons/minus.svg" alt="">
          </button>
          <span class="product-number">12</span>
          <button class="button-control">
            <img src="@images/icons/plus.svg" alt="">
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="filter">
    <div class="filter-header active">
      <span class="filter-title">Смак</span>
    </div>
    <div class="filter-content tastes">
      <div class="filter-content-label">Смаки грінок*</div>
      <div class="filter-content-box">
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/mushrooms-in-sour-cream-sauce.svg" alt="" />
          </label>
          <div class="filter-content-title">Гриби у сметанному соусі</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/wasabi.svg" alt="" />
          </label>
          <div class="filter-content-title">Васабі</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/bacon.svg" alt="" />
          </label>
          <div class="filter-content-title">Бекон</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/garlic.svg" alt="" />
          </label>
          <div class="filter-content-title">Часник</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/paprika.svg" alt="" />
          </label>
          <div class="filter-content-title">Паприка</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/lime-chili.svg" alt="" />
          </label>
          <div class="filter-content-title">Лайм-чилі</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/shrimp-in-cream-sauce.svg" alt="" />
          </label>
          <div class="filter-content-title">Креветка у вершковому соусі</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/cheese.svg" alt="" />
          </label>
          <div class="filter-content-title">Сир</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/salmon.svg" alt="" />
          </label>
          <div class="filter-content-title">Лосось</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/salt.svg" alt="" />
          </label>
          <div class="filter-content-title">Сіль</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/basil-tomato.svg" alt="" />
          </label>
          <div class="filter-content-title">Томат базилік</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/fried-steak.svg" alt="" />
          </label>
          <div class="filter-content-title">Смажений стейк</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/sour-cream-and-hearbs.svg" alt="" />
          </label>
          <div class="filter-content-title">Сметана та зелень</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/horseradish.svg" alt="" />
          </label>
          <div class="filter-content-title">Хрон</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/with-seeds.svg" alt="" />
          </label>
          <div class="filter-content-title">З насінням</div>
        </div>
      </div>
    </div>
    <div class="filter-content tastes">
      <div class="filter-content-label">Смаки вергосів*</div>
      <div class="filter-content-box">
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/with-salt.svg" alt="" />
          </label>
          <div class="filter-content-title">З сіллю</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/onion-cream.png" alt="" />
          </label>
          <div class="filter-content-title">Цибуля-вершки</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/garlic-cream.png" alt="" />
          </label>
          <div class="filter-content-title">Часник-вершки</div>
        </div>
        <div class="filter-content-wrapper">
          <label class="control">
            <input type="checkbox" name="taste1" />
            <span class="control-checkmark"></span>
            <img src="../../../assets/images/icons/tastes/teriyaki-cream.png" alt="" />
          </label>
          <div class="filter-content-title">Теріякі-вершки</div>
        </div>
      </div>
    </div>
  </div>
  <div class="filter sum">
    <span class="filter-title">Загалом</span>
    <button class="button button-sum">
      <span class="composition">Склад продукту</span>
      <span class="value">Маса нетто - 900 г. (≈ 120 грінок)</span>
    </button>
    <button class="button button-solid-secondary">
      Замовити на 200 ₴
    </button>
  </div>
</form>