<div class="modal" id="productModal">
  <div class="modal-content">
    <span class="close-btn">&times;</span>
    <span class="product-standart">ДСТУ 8789:2018</span>
    <h2 class="title">ПРО ПРОДУКТ</h2>
    <div class="product-taste-wrapper">
      <div class="product-taste">
        <div class="product-taste-img">
          <img src="@images/icons/tastes/fried-steak-active.png" alt="" />
        </div>
        <div class="product-taste-title">Сухарі-грінки житньо-пшеничні зі смаком та ароматом «Смажений стейк»</div>
      </div>
      <div class="product-composition">
        <p>
          Склад: хліб житньо-пшеничний (борошно житнє, борошно пшеничне, сіль кухонна, дріжджі хлібопекарські пресовані)
          олія соняшникова рафінована дезодорована, жир рідкий для фритюру (олії та жири рослинні рафіновані вибілені
          дезодоровані: олія пальмова та її фракції в змінних пропорціях, антиоксиданти Е 320, Е 321) суміш
          пряно-ароматична декоруюча (молочні білки, сіль кухонна, глюкоза кристалічна, глютамат натрію Е621, паприка,
          ароматизатори лосось та м'ясо копчене).
        </p>
        <p>
          Поживна цінність на 100 г (g) продукту:жири - 25г(g )з них насичені - 2,4г(g) вуглеводи - 55,5 г(g) білки - 8,3
          г(g) сіль - 2,1 г(g)Енергетична цінність на100 г (g) г продукту: 2007 кДж (kj) 480 ккал (kcal)
        </p>
      </div>
    </div>
    <div class="product-taste-wrapper">
      <div class="product-taste">
        <div class="product-taste-img">
          <img src="@images/icons/tastes/salmon-active.png" alt="" />
        </div>
        <div class="product-taste-title">Сухарі-грінки житньо-пшеничні зі смаком та ароматом «Смажений стейк»</div>
      </div>
      <div class="product-composition">
        <p>
          Склад: хліб житньо-пшеничний (борошно житнє, борошно пшеничне, сіль кухонна, дріжджі хлібопекарські пресовані)
          олія соняшникова рафінована дезодорована, жир рідкий для фритюру (олії та жири рослинні рафіновані вибілені
          дезодоровані: олія пальмова та її фракції в змінних пропорціях, антиоксиданти Е 320, Е 321) суміш
          пряно-ароматична декоруюча (молочні білки, сіль кухонна, глюкоза кристалічна, глютамат натрію Е621, паприка,
          ароматизатори лосось та м'ясо копчене).
        </p>
        <p>
          Поживна цінність на 100 г (g) продукту:жири - 25г(g )з них насичені - 2,4г(g) вуглеводи - 55,5 г(g) білки - 8,3
          г(g) сіль - 2,1 г(g)Енергетична цінність на100 г (g) г продукту: 2007 кДж (kj) 480 ккал (kcal)
        </p>
      </div>
    </div>
    <div class="product-taste-wrapper">
      <div class="product-taste">
        <div class="product-taste-img">
          <img src="@images/icons/tastes/cheese-active.png" alt="" />
        </div>
        <div class="product-taste-title">Сухарі-грінки житньо-пшеничні зі смаком та ароматом «Смажений стейк»</div>
      </div>
      <div class="product-composition">
        <p>
          Склад: хліб житньо-пшеничний (борошно житнє, борошно пшеничне, сіль кухонна, дріжджі хлібопекарські пресовані)
          олія соняшникова рафінована дезодорована, жир рідкий для фритюру (олії та жири рослинні рафіновані вибілені
          дезодоровані: олія пальмова та її фракції в змінних пропорціях, антиоксиданти Е 320, Е 321) суміш
          пряно-ароматична декоруюча (молочні білки, сіль кухонна, глюкоза кристалічна, глютамат натрію Е621, паприка,
          ароматизатори лосось та м'ясо копчене).
        </p>
        <p>
          Поживна цінність на 100 г (g) продукту:жири - 25г(g )з них насичені - 2,4г(g) вуглеводи - 55,5 г(g) білки - 8,3
          г(g) сіль - 2,1 г(g)Енергетична цінність на100 г (g) г продукту: 2007 кДж (kj) 480 ккал (kcal)
        </p>
      </div>
    </div>
  </div>
</div>